@charset "UTF-8";
img {
  vertical-align: bottom;
  max-width: 100%;
}

/* 텍스트 숨김 */
.txt-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 무조건 안보이게 */
.invisible {
  display: none !important;
}

/* 그냥 안보이게 */
.none {
  display: none;
}

.mg-left {
  margin-left: auto;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.grid-grp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.grid-grp .grid {
  flex: 1;
  width: 1%;
}

.checkbox-item {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  gap: 7px;
}
.checkbox-item .checkbox-inp {
  display: none;
}
.checkbox-item .checkbox {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #E4E5EF;
  overflow: hidden;
}
.checkbox-item .checkbox:after {
  content: "";
  background-color: #001E5A;
  position: absolute;
  background-image: url(../images/icon/icon-check-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}
.checkbox-item .checkbox-inp:checked ~ .checkbox:after {
  opacity: 1;
}
.checkbox-item .checkbox-txt {
  font-size: 14px;
  word-break: break-all;
  margin-top: 1px;
  color: #171717;
}

.color-txt {
  color: #E6367E;
}

.bold-txt {
  font-weight: 700;
}

.floating-logo-wrap {
  display: flex;
  overflow: hidden;
}
.floating-logo-wrap .logo-boxes {
  display: flex;
  align-items: center;
}
.floating-logo-wrap .logo-boxes.original {
  animation: rollingleft1 120s linear infinite;
}
.floating-logo-wrap .logo-boxes.clone {
  animation: rollingleft2 120s linear infinite;
}
.floating-logo-wrap .logo-box {
  width: 165px;
  height: 95px;
  flex-shrink: 0;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.floating-logo-wrap .logo-box img {
  object-fit: contain;
  height: 65px;
  object-position: center;
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.badge-grp {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
  flex-wrap: wrap;
}

.badge {
  height: 33px;
  padding: 0 12px;
  color: #5A5A5A;
  font-size: 14px;
  letter-spacing: -0.14px;
  background-color: #EFF1F4;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title-wrap {
  width: 100%;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 11px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.title-wrap .title-item {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  flex-direction: column;
  padding-bottom: 10px;
}
.title-wrap .title {
  font-size: 31px;
  letter-spacing: -0.31px;
  font-weight: 700;
  color: #171717;
  line-height: 1.4;
}
.title-wrap .title-desc {
  font-size: 15px;
  color: #8D8D8D;
}
.title-wrap .btn-wrap {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.title-wrap .btn-wrap .gray-txt {
  color: #8D8D8D;
  font-size: 15px;
  letter-spacing: -0.15px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.tabs .tab {
  padding: 0 20px;
  height: 40px;
  border-radius: 100px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  color: #171717;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.tabs .tab:hover {
  background-color: #f4f4f4;
}
.tabs .tab:active {
  background-color: #ececec;
}
.tabs .tab.active {
  background-color: #E6367E;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s;
}
.tabs .tab.active:hover {
  background-color: #d81b68;
}
.tabs .tab.active:active {
  background-color: #b91759;
}

.banner {
  background-color: #001E5A;
  min-height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  color: white;
  gap: 25px;
  cursor: pointer;
}
.banner .icon-banner01 {
  width: 45px;
}
.banner .icon-banner02 {
  width: 50px;
}
.banner .icon-banner03 {
  width: 45px;
}
.banner .txt {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.17px;
  line-height: 1.7;
}
.banner .btn {
  margin-left: auto;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.dash-list-grp .dash-list {
  position: relative;
  padding-left: 13px;
}
.dash-list-grp .dash-list:before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
}

.num-list-grp {
  margin-bottom: 20px;
}
.num-list-grp:last-child {
  margin-bottom: 0;
}
.num-list-grp .num-list {
  position: relative;
  padding-left: 20px;
}
.num-list-grp .num-list:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.num-list-grp .num-list:nth-child(1):before {
  content: "1.";
}
.num-list-grp .num-list:nth-child(2):before {
  content: "2.";
}
.num-list-grp .num-list:nth-child(3):before {
  content: "3.";
}
.num-list-grp .num-list:nth-child(4):before {
  content: "4.";
}
.num-list-grp .num-list:nth-child(5):before {
  content: "5.";
}
.num-list-grp .num-list:nth-child(6):before {
  content: "6.";
}

.gray-box {
  width: 100%;
  background-color: #F7F8F8;
}

.title-txt-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.title-txt-container .title {
  font-weight: 700;
  color: #333;
}
.title-txt-container .txt-box {
  width: 100%;
  line-height: 1.7;
  color: #5A5A5A;
}

.check-txt-list-grp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.check-txt-list {
  position: relative;
  padding-left: 17px;
  font-size: 16px;
  color: #171717;
  letter-spacing: -0.16px;
}
.check-txt-list:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 20px;
  position: absolute;
  left: 0;
  background-image: url(../images/icon/icon-check-pink.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
}

html {
  scroll-behavior: smooth;
}

.page-inner {
  margin: 0 auto;
  width: 95%;
  max-width: 991px;
}

.fixed-btn-wrapper {
  position: fixed;
  max-width: 991px;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 10;
}

.fixed-btn-wrapper .fixed-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -80px;
  bottom: 0;
  gap: 7px;
}

.fixed-btns .fixed-btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: all 0.3s;
}
.fixed-btns .fixed-btn .icon-top {
  width: 10px;
}
.fixed-btns .fixed-btn .icon-event {
  width: 18px;
}
.fixed-btns .fixed-btn .icon-bubbl {
  width: 19px;
}
.fixed-btns .fixed-btn .txt {
  font-size: 12px;
}

.fixed-btns .fixed-btn.type-kakao {
  background-color: #FFDD00;
  color: #000;
}
.fixed-btns .fixed-btn.type-kakao:hover {
  background-color: #f0d000;
}
.fixed-btns .fixed-btn.type-kakao:active {
  background-color: #e0c200;
}

.fixed-btns .fixed-btn.type-pink {
  background-color: #E6367E;
  color: white;
}
.fixed-btns .fixed-btn.type-pink:hover {
  background-color: #d81b68;
}
.fixed-btns .fixed-btn.type-pink:active {
  background-color: #b91759;
}

.fixed-btns .fixed-btn.type-navy {
  background-color: #001E5A;
  color: white;
}
.fixed-btns .fixed-btn.type-navy:hover {
  opacity: 0.8;
}
.fixed-btns .fixed-btn.type-navy:active {
  opacity: 1;
}

.fixed-btns .fixed-btn.type-dark {
  background-color: #000000;
  color: white;
}
.fixed-btns .fixed-btn.type-dark:hover {
  opacity: 0.8;
}
.fixed-btns .fixed-btn.type-dark:active {
  opacity: 1;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #001E5A;
  border-radius: 16px;
  border: 4px solid transparent;
}

html {
  scroll-behavior: smooth;
}

.page-inner {
  margin: 0 auto;
  width: 95%;
  max-width: 991px;
}

.fixed-btn-wrapper {
  position: fixed;
  max-width: 991px;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 10;
}

.fixed-btn-wrapper .fixed-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -80px;
  bottom: 0;
  gap: 7px;
}

.fixed-btns .fixed-btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: all 0.3s;
}
.fixed-btns .fixed-btn .icon-top {
  width: 10px;
}
.fixed-btns .fixed-btn .icon-event {
  width: 18px;
}
.fixed-btns .fixed-btn .icon-bubbl {
  width: 19px;
}
.fixed-btns .fixed-btn .txt {
  font-size: 12px;
}

.fixed-btns .fixed-btn.type-kakao {
  background-color: #FFDD00;
  color: #000;
}
.fixed-btns .fixed-btn.type-kakao:hover {
  background-color: #f0d000;
}
.fixed-btns .fixed-btn.type-kakao:active {
  background-color: #e0c200;
}

.fixed-btns .fixed-btn.type-pink {
  background-color: #E6367E;
  color: white;
}
.fixed-btns .fixed-btn.type-pink:hover {
  background-color: #d81b68;
}
.fixed-btns .fixed-btn.type-pink:active {
  background-color: #b91759;
}

.fixed-btns .fixed-btn.type-navy {
  background-color: #001E5A;
  color: white;
}
.fixed-btns .fixed-btn.type-navy:hover {
  opacity: 0.8;
}
.fixed-btns .fixed-btn.type-navy:active {
  opacity: 1;
}

.fixed-btns .fixed-btn.type-dark {
  background-color: #000000;
  color: white;
}
.fixed-btns .fixed-btn.type-dark:hover {
  opacity: 0.8;
}
.fixed-btns .fixed-btn.type-dark:active {
  opacity: 1;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #001E5A;
  border-radius: 16px;
  border: 4px solid transparent;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #001E5A;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .logo {
  width: 147px;
}

.header-inner {
  max-width: 991px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 15px;
}

.header-nav-grp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.header-btn-grp {
  margin-left: auto;
}

.header-nav {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  position: relative;
  font-size: 16px;
  letter-spacing: -0.16px;
  font-weight: 500;
  color: white;
}
.header-nav:before {
  content: "";
  width: 1px;
  height: 15px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
}
.header-nav:first-child:before {
  display: none;
}

.header-btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: white;
  height: 37px;
  padding: 0 15px;
  background-color: #E6367E;
  border-radius: 8px;
  letter-spacing: -0.18px;
  transition: all 0.3s;
}
.header-btn:hover {
  background-color: #d81b68;
}
.header-btn:active {
  background-color: #b91759;
}

.icon {
  flex-shrink: 0;
}

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  position: relative;
}

.kakao-add-btn {
  font-size: 16px;
  font-weight: 700;
  color: #171717;
  text-decoration: underline;
  gap: 9px;
  letter-spacing: -0.16px;
  transition: all 0.3s;
}
.kakao-add-btn:hover {
  opacity: 0.6;
}
.kakao-add-btn:active {
  opacity: 1;
}
.kakao-add-btn .icon {
  width: 26px;
}

.pink-solid-btn {
  height: 60px;
  width: 100%;
  border-radius: 100px;
  background-color: #E6367E;
  color: white;
  font-size: 18px;
  font-weight: 700;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  transition: all 0.3s;
}
.pink-solid-btn:hover {
  background-color: #d81b68;
}
.pink-solid-btn:active {
  background-color: #b91759;
}